.navbar { background-color: rgb(29, 28, 28); color: white; }
.navbar-name {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 500;
    font-style: normal;
    color: rgb(17, 220, 95);
}
.s1-section {
  background: url("imgs/elearn.webp") no-repeat center center/cover;
  height: 450px;
  background-color: rgb(96, 106, 113);
}
.s2-section { 
  background: linear-gradient(to bottom left, rgb(243, 151, 112), rgb(236, 211, 148));
  color: #000; }
.s2-section .list{ 
  margin:0px 30px; 
  background: url("imgs/features.jpg") no-repeat center center/cover;
} 
.s2-section .h4{ 
  padding-left: 60px; 
} 
.s2-section .list-group-flush { 
  padding-left: 10px; 
  list-style-position: inside; 
} 
.s2-section .list-group-flush .list-group-item { 
  color: white;
  list-style-type: square;  
  display: list-item; 
  background: transparent; 
  border: none; 
  padding: 5px 0; 
}
.s3-section {
  background-color: #3c3d3c;
}
.s3-section h2 {
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
}
.s3-section .card {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.s3-section .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); 
    z-index: 2; 
}
.s3-section .card-img-top {
  height: 230px;
  object-fit: cover;
  width: 100%;
}
.s3-section .card-body {
  padding: 8px 12px;
}
.s3-section .card-title {
  margin-bottom: 4px;
  font-size: 18px;
}
.s3-section .card-text {
  margin-bottom: 6px;
  font-size: 15px;
}
.s3-section .btn {
  padding: 4px 10px;
  font-size: 14px;
}
.s4-section .carousel-container {
    width: 600px;      
    height: 300px;
}
.s4-section .carousel-container .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}
.footer-section {
    background-color: #1c1c1c; 
}
.footer-section a:hover {
    text-decoration: none;
    transform: scale(1.1);
    transition: 0.2s;
}
.social-img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}



